
#colOne #homeTxt{
    position: relative;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-duration: 2s;
}

#colOne #threeP,
#homeTxtCol,

#homeTxt p {
    position:relative;
    animation-iteration-count:1;
    animation-name:fadeInLeft;
    animation-duration:2s;
}
#homeBtnTxt button,#homeImgDiv img {
    position:relative;
    animation-iteration-count:1;
    animation-name:fadeInRight;
    animation-duration:2s;
}
#lastPart{
    position:relative;
    animation-iteration-count:1;
    animation-name:fadeInBottom;
    animation-duration:2s;
}
@keyframes fadeInUp{
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        left:-50px;
        opacity:0;
    }
    100%{
        left:0px;
        opacity:1;
    }
}
@keyframes fadeInRight{
    0%{
        right:-50px;

    }
    100%{
        right:0px;
    }
}
@keyframes fadeInBottom{
    0%{
        bottom:-50px;
        opacity:0;
    }
    100%{
        bottom:0px;
        opacity:1;
    }
}
@keyframes fadeInBottom{
    0%{
        bottom:-50px;
        opacity:0;
    }
    100%{
        bottom:0px;
        opacity:1;
    }
}
/* image animation */

#homeImg{
    position:relative;
    animation-iteration-count:1;
    animation-name: fadeRightImg;
    animation-duration:2s;
}
@keyframes fadeRightImg{
    0%{
        left:-50
    }
}

/* Order */
#secondContainer h1{
    position: relative;
    animation-iteration-count: 1;
    animation-name: orderFadeInUp;
    animation-duration: 2s;
}
@keyframes orderFadeInUp{
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}